.btn {
  display: block;
  color: #b1b1b1;
  margin-top: 31px;
  padding: 8px 18px 10px 18px;
  border-radius: 10px;
  border: 1px solid #c0c0c0;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #818181;
    color: #fff;
  }
}
